<aside>
  <div class="widget">
    <h3>Iniciar sesión</h3>  
    
    <form>
        <input type="email" name="e-mail" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="submit" name="entrar">
    </form>
  </div>
  <div class="widget">
    <h3> Viaja con nosotros </h3> 
    <blockquote>viajar con nosotros es una experiencia inolvidable</blockquote>
  </div>
  <div class="widget">
    <h3> conocenos </h3> 
    <blockquote>somos una empresa dedicada a hacer que nuestros pasajeros tengan un vuelo placentero y de su agrado.</blockquote>

  </div>



</aside>