<section id="content">
    <h1> ofertas de vuelo desde Ciudad de Guatemala</h1>
    <article>
        <h2></h2>
         <img src="../img/acapulco.png" alt="imagen de Acapulco">
         <h4>Acapulco 68 USD</h4>
        <img src="../img/tikal.png" alt="imagen de Tikal">
        <h4>FLORES 52 USD</h4>
        <img src="../img/suecia.png" alt="imagen de Suecia">
        <h4>SUECIA 125 USD</h4>
                <a href="#">Leer más...</a>
    </article>
    <article>
        <h2> preparate para viajar</h2>
        <img src="../img/check-in.png">
            <h4>check-in online</h4>
            <img src="../img/centro.png">
            <h4>centro de ayudas</h4>
            <img src="../img/requisitos.png">
            <h4>requisitos</h4>
                <a href="#"> Leer más...</a>
    </article>
    <article>
        <h2>puedes volar como te gusta</h2>
            <img src="../img/ala.png" alt="imagen del ala de un avion">
            <h4>inspirate</h4>
            <img src="../img/asiento.png" alt="imagen de asientos">
            <h4>comodidad</h4>
            <img src="../img/equipaje.png" alt="imagen de equipaje">
            <h4>equipaje</h4>
                <a href="#"> Leer más...</a>
    </article>
    <article>
        <h2>Aereoflygt</h2>
            <p>para nosotros es un gusto que vueles con nuestra compañia, queremos que te sientas como en casa y disfrutes de cada momento de tu viaje y sigas prefiriendo nuestras lineas de vuelo. </p>
                <a href="#"> Leer más...</a>
    </article>
</section>
<ul class="pagination">
    <li><a href="#"> 1 </a></li>
    <li><a href="#"> 2 </a></li>
    <li><a href="#"> 3 </a></li>
    <li>...</li>
    <li><a href="#"> 18 </a></li>
</ul>