<nav id="main-menu">
    <ul>
        <li>
            <a href="index.html"> Inicio </a>
        </li>
        <li>
            <a href="reserva-tu-vuelo.html"> Reserva tu vuelo </a>
        </li> 

        <li>
            <a href="tu-reserva.html"> Tu Reserva </a>
            <ul>
                <li>
                    <a href="estado-de-vuelo.html"> estado del vuelo </a>
                </li>
                <li>
                    <a href="clases-de-vuelos.html"> clase </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"> Destinos </a>
            <ul>
                <li>
                    <a href="vuelos-nacionales.html"> nacionales </a>
                </li>
                <li>
                    <a href="vuelos-internacionales.html"> internacionales </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"> Ofertas</a>
            <ul>
                <li>
                    <a href="ofertas-nacionales.html"> nacionales </a>
                </li>
                <li>
                    <a href="ofertas-internacionales.html"> internacionales </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="guia-de-viaje.html"> tu guia de viaje </a>
            <ul>
                <li>
                    <a href="politica-de-equipaje.html"> politica de equipaje </a>
                </li>
                <li>
                <a href="check-in.html"> como hacer check-in</a>
            </li>
            <li>
                <a href="formas-pago.html"> formas de pago </a>
            </li>
            </ul> 
        </li>
        <li>
            <a href="#"> Información </a>
            <ul>
                <li>
                    <a href="requisitos.html"> requisitos del vuelo </a>
                </li>
                <li>
                    <a href="contacto.html"> contacto </a>
                </li>
            </ul>
            
        </li>
    </ul>
</nav>